@import url();

*{
    box-sizing: border-box;
}


body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-color: aqua;
    color: black;
    font-family: ;
}

.container{
    margin: 0;
    padding: 0;
    color: #000;
    font-size: 12px;
    font-weight: 500;
    

}

