*{
    box-sizing: border-box;
}

body{
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: aqua;
    color: black;
}