@import url();

*{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-color: aquamarine;
    color: black;
    font-family: sans-serif;

}